$site-mono: ui-monospace, "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

body,
button,
input,
select,
textarea,
body :where(
  article,
  aside,
  blockquote,
  dd,
  div,
  dt,
  figcaption,
  footer,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  label,
  li,
  main,
  nav,
  option,
  p,
  section,
  small,
  span,
  strong,
  table,
  tbody,
  td,
  th,
  thead,
  time,
  tr
):not(
  .fa,
  .fab,
  .far,
  .fas,
  .fa-brands,
  .fa-regular,
  .fa-solid,
  .ti,
  .ai,
  .MathJax,
  .MathJax *,
  mjx-container,
  mjx-container *
) {
  font-family: $site-mono !important;
}
